<div dsrt-module="loginModule">
  <div dsrt-controller="loginController">
    <div dsrt-view="loginView">
      <div class="loginContainer">
        <label for="userName">User Name</label>
        <input type="text" dsrt-control="userName" id="userName" placeholder="Enter user name" dsrt-model />
        <br />
        <label for="password">Password</label>
        <input type="password" dsrt-control="password" id="password" placeholder="Enter password" dsrt-model />
        <br />
        <input type="button" value="Log In" dsrt-control="btnLogin" />
        <div dsrt-control="lblErrorMsg" style="color: red;"></div>
      </div>
    </div>
  </div>
</div>
