.book-detail table {
  border-collapse: collapse;
  margin: 10px 0;
  width: 100%;
}

.book-detail table tr td {
  padding: 5px;
}

.book-detail table tr td:first-child {
  border: 1px solid black;
  width: 128px;
}

.book-detail table tr td:last-child {
  border-bottom: 1px solid black;
  padding-left: 10px;
}
