<div class="countries-display">
    <p>These are the countries that were found using your search term.</p>
    <hr />
    <div dsrt-repeat>
        <div class="wrapper">
          <h3>Details About {{ name }}</h3>
          <table>
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{ name }}</td>
              </tr>
              <tr>
                <td>Native Name</td>
                <td>{{ nativeName }}</td>
              </tr>
              <tr>
                <td>Population</td>
                <td>{{ population }}</td>
              </tr>
              <tr>
                <td>Capital</td>
                <td>{{ getCapital }}</td>
              </tr>
              <tr>
                <td>Currencies</td>
                <td>{{ getCurrencies }}</td>
              </tr>
              <tr>
                <td>Time Zones</td>
                <td>{{ getTimezones }}</td>
              </tr>
              <tr>
                <td>Region</td>
                <td>{{ getRegion }}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
