<div class="book-detail">
    <div dsrt-repeat>
        <table>
            <tbody>
                <tr>
                    <td>
                       <img deferred-src="{{ volumeInfo.imageLinks.thumbnail }}" title="{{ volumeInfo.title }}" />
                    </td>
                    <td>
                        <h3>{{ volumeInfo.title }}</h3>
                        <p>
                          {{ description }}
                        </p>
                        <ul>
                          <li>
                            Rating: {{ averageRating }}
                          </li>
                          <li>
                            Number of Pages: {{ volumeInfo.pageCount }}
                          </li>
                          <li>Author(s): {{ authors }}</li>
                          <li>
                              Publisher: {{ volumeInfo.publisher }}
                          </li>
                          <li>Publish Date: {{ volumeInfo.publishedDate }}</li>
                          <li>Categories: {{ categories }}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
