<div class="book-detail">
    <br/>
    <i>Click a book image for more details, if available.</i>
    <hr />
    <div dsrt-repeat>
        <table>
            <tbody>
                <tr>
                    <td>
                       <a href="#/books/bookdetails/:isbn={{ isbn }}">
                        <img deferred-src="{{ volumeInfo.imageLinks.thumbnail }}" title="{{ volumeInfo.title }}" />
                       </a>
                    </td>
                    <td>
                        <h3>{{ volumeInfo.title }}</h3>
                        <p>
                          {{ description }}
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
