<div class="calc-buttons">
    <div class="row">
        <div class="col line">
            <div class="button command" dsrt-control="clear">CLEAR</div>
        </div>
    </div>
    <div class="row">
        <div class="col" dsrt-control-group="button">
            <div class="button number">1</div>
        </div>
        <div class="col" dsrt-control-group="button">
            <div class="button number">2</div>
        </div>
        <div class="col" dsrt-control-group="button">
            <div class="button number">3</div>
        </div>
        <div class="col" dsrt-control-group="button">
            <div class="button command">*</div>
        </div>
    </div>
    <div class="row">
        <div class="col" dsrt-control-group="button">
            <div class="button number">4</div>
        </div>
        <div class="col" dsrt-control-group="button">
            <div class="button number">5</div>
        </div>
        <div class="col" dsrt-control-group="button">
            <div class="button number">6</div>
        </div>
        <div class="col" dsrt-control-group="button">
            <div class="button command">-</div>
        </div>
    </div>
    <div class="row">
        <div class="col" dsrt-control-group="button">
            <div class="button number">7</div>
        </div>
        <div class="col" dsrt-control-group="button">
            <div class="button number">8</div>
        </div>
        <div class="col" dsrt-control-group="button">
            <div class="button number">9</div>
        </div>
        <div class="col" dsrt-control-group="button">
            <div class="button command">*</div>
        </div>
    </div>
    <div class="row">
        <div class="col" dsrt-control-group="button">
            <div class="button number">.</div>
        </div>
        <div class="col" dsrt-control-group="button">
            <div class="button number">0</div>
        </div>
        <div class="col txt-med" dsrt-control-group="button">
            <div class="button command">+/-</div>
        </div>
        <div class="col" dsrt-control-group="button">
            <div class="button command">/</div>
        </div>
    </div>
    <div class="row">
        <div class="col line">
            <div class="button command equals" dsrt-control="equals">=</div>
        </div>
    </div>
</div>