<div class="calc-buttons">
    <div class="row">
        <div class="col">
            <div class="button number" dsrt-control-group="button">1</div>
        </div>
        <div class="col">
            <div class="button number" dsrt-control-group="button">2</div>
        </div>
        <div class="col">
            <div class="button number" dsrt-control-group="button">3</div>
        </div>
        <div class="col">
            <div class="button command" dsrt-control-group="button">*</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="button number" dsrt-control-group="button">4</div>
        </div>
        <div class="col">
            <div class="button number" dsrt-control-group="button">5</div>
        </div>
        <div class="col">
            <div class="button number" dsrt-control-group="button">6</div>
        </div>
        <div class="col">
            <div class="button command" dsrt-control-group="button">-</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="button number" dsrt-control-group="button">7</div>
        </div>
        <div class="col">
            <div class="button number" dsrt-control-group="button">8</div>
        </div>
        <div class="col">
            <div class="button number" dsrt-control-group="button">9</div>
        </div>
        <div class="col">
            <div class="button command" dsrt-control-group="button">*</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="button number" dsrt-control-group="button">.</div>
        </div>
        <div class="col">
            <div class="button number" dsrt-control-group="button">0</div>
        </div>
        <div class="col txt-med">
            <div class="button command" dsrt-control-group="button">+/-</div>
        </div>
        <div class="col">
            <div class="button command" dsrt-control-group="button">/</div>
        </div>
    </div>
</div>