<div dsrt-module="authentication">
    <div dsrt-controller="authentication-controller">
        <div dsrt-view="authentication-view">
            <input type="email" dsrt-control="email" placeholder="Enter your email" />
            <br />
            <input type="password" dsrt-control="password" placeholder="Enter your password" />
            <br />
            <input type="button" dsrt-control="btnLogin" value="Log In" />
            <br />
            <label>
            Select Role(s)
            <br />
            <select dsrt-control="roles" multiple>
                <option value="admin">Admin</option>
                <option value="hr">HR</option>
                <option value="standard">Standard User</option>
            </select>
            </label>
        </div>
    </div>
</div>