<div class="book-search-container">
    <div dsrt-module="booksearch">
        <div dsrt-controller="booksearchController">
            <div dsrt-view="books">
              <div dsrt-src="partials/loader"></div>
              <h2>dessertJS Book Search Example</h2>
              <p>
                The book search example uses the Google Books api to search for books by the given author query.
              </p>
              <br />
              <label for="tbAuthorName">Author Name</label>
              <br/>
              <input id="tbAuthorName" type="text" placeholder="Enter the author name" dsrt-control="tbAuthorName" dsrt-model />
              <input type="button" dsrt-control="btnSearch" value="Search" />
              <br />
              <div dsrt-control="displayBooks">
              </div>
            </div>
        </div>
    </div>
</div>