html,
body {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif; }

[dsrt-mask] {
  display: none; }

.fa-shopping-cart,
.fa-plus {
  color: goldenrod;
  text-shadow: .5px .5px 1px black; }

.store-item {
  display: inline-block;
  width: 250px;
  max-width: 250px;
  border: 1px solid black;
  padding: 10px 0;
  border-left: none;
  border-right: none; }
  .store-item:not(:nth-child(1)) {
    margin-left: 10px; }
  .store-item .title {
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 3px; }
  .store-item .btn-add {
    user-select: none; }
    .store-item .btn-add.disabled .fa-shopping-cart,
    .store-item .btn-add.disabled .fa-plus {
      color: dimgray; }
    .store-item .btn-add .fa-shopping-cart {
      font-size: 1.5em; }
    .store-item .btn-add .fa-plus {
      font-size: .75em; }

.shopping-cart .controls .btn-checkout {
  cursor: default;
  user-select: none; }
  .shopping-cart .controls .btn-checkout .fa-shopping-cart {
    font-size: 2em; }

.shopping-cart .cart-item {
  display: inline-block;
  padding: 10px 0;
  border: 1px solid black;
  border-left: none;
  border-right: none; }
  .shopping-cart .cart-item:not(:nth-child(1)) {
    margin-left: 10px; }
