<div dsrt-module="data-binding">
    <h2>dessertJS Data Binding Example</h2>
    <div dsrt-controller="data-binding-controller">
        <div dsrt-view="data-binding-view">
            <input type="text" placeholder="Enter some text here..." dsrt-control="textbox" dsrt-model />
            <br />
            <div dsrt-control="output">
            </div>
            <br />
            <div dsrt-control="rbl" dsrt-model>
                <label>
                    <input type="radio" value="Value 1" name="group" /> Option 1
                </label>
                <br />
                <label>
                    <input type="radio" value="Value 2" name="group" /> Option 2
                </label>
            </div>
            <div dsrt-control="rblOutput">
            </div>
            <br />
            <select dsrt-control="ddwn" dsrt-model multiple="true">
                <option value="Test">Option 1</option>
                <option value="Test2">Option 2</option>
            </select>
            <div dsrt-control="ddwnOutput">
            </div>
        </div>
    </div>
</div>