<div class="home">
    <div dsrt-module="main">
        <div dsrt-controller="mainCtrl">
            <div dsrt-view="main">
                <i class="fa fa-calculator fa-6 app-icon" 
                aria-hidden="true" 
                dsrt-control-group="appButton"
                app="calculator"
                title="Open the Calculator App"></i>
                <i class="fa fa-shopping-cart fa-6 app-icon"
                aria-hidden="true"
                app="shoppingCart"
                dsrt-control-group="appButton"
                title="Open the Shopping App"></i>
            </div>
        </div>
    </div>
</div>